* {
	margin: 0;
}
/*//////////////////////////////////////////////////////////////////////////*/

header {
	position: fixed;
	min-height: 150px; width: 100%;
	z-index: 3;

	background: #000;
}

.header_icon {
	padding-left: 17%;
}

.button_head {
	height: 40px; width: 24%;
	font-size: 25px;
}
/*//////////////////////////////////////////////////////////////////////////*/

body {
	background: #5D00FF;
}

._body {
	min-height: 50px;
	padding-top: 150px;
	display: flex;
}

.win_l {
	width: 20%;
	background: #99A1FF;
	padding: 10px;
}

.button_win_l {
	height: 80px; width: 90%;
	margin: 3px;
	font-size: 30px;
}

.win {
	min-height: 800px; width: 60%;
	padding: 10px;
}

.icon_har_ki {
	display: flex;
}

.icon_game {
	height: 200px;
}

.har_ki {
	margin: 5px;
	font-size: 40px;
}

.play_button {
	height: 50px; width: 150px;
	margin-left: 300px; margin-top: 130px;
}

.opisanie_min {
	margin: 50px;
	padding-bottom: 10px;
	font-size: 30px;
}

.screen_game {
	min-width: 200px;
	overflow: auto;
	white-space: nowrap;
}

.screen_img {
	height: 200px;
}

.opisanie_max {
	margin: 25px;
	font-size: 30px;
}

.win_r {
	background: #99A1FF;
	width: 20%;
}
/*//////////////////////////////////////////////////////////////////////////*/

footer {
	min-height: 122px;
	background: url(image/footer.png);
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_footer {
	color: white;
}
.text_footer#_1:hover {
	color: #A3ADFF;
}
.text_footer#_2:hover {
	color: #42B6FF;
}
.text_footer#_3:hover {
	color: red;
}
